:root {
  font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;

  // color: #0c0c0c;
  // background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --code-color: darkred;
  --code-bg-color: #aaaaaa;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #3d3d3d;
  --scroll-bar-bg-color: #2e2e2e00;
}

pre {
  color: var(--code-color);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  background-color: var(--code-bg-color);
}

.code-block {
  max-height: 100px;
  overflow: auto;
  padding: 8px 7px 5px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 7px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 100rem;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
  border-radius: 100rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 100rem;
  border: 3px solid var(--scroll-bar-bg-color);
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Raleway, sans-serif;
}

#map {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.controls, .insights {
  width: 350px;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .content *+h3 {
    margin-top: 1rem;
  }

  .title {
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .content {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 0.2rem;
  }

  .footer {
    height: 150px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .machvislogo {
      height: 80px;
      width: 80px;
    }
  }

  select {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 100rem;
    background-color: #0c0c0c;
    color: #fff;
    cursor: pointer;
    transition-duration: 100ms;
    width: 100%;
    outline: none;


    &:hover {
      background-color: #0c0c0c;
    }

    &:active {
      background-color: #0c0c0c;
    }

    &:disabled {
      background-color: #0c0c0c;
      cursor: not-allowed;
    }
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 100rem;
    background-color: rgb(17, 124, 206);
    color: #fff;
    cursor: pointer;
    transition-duration: 100ms;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      background-color: rgb(17, 124, 206, 0.8);
    }

    &:active {
      background-color: rgb(17, 124, 206, 0.6);
    }

    &:disabled {
      background-color: rgb(17, 124, 206, 0.4);
      cursor: not-allowed;
    }
  }

  .bounds {
    font-size: 0.75rem;
    background-color: #0c0c0c;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: #bbbbbb;
  }

  padding-right: 0rem;
}

.insights {
  padding-left: 0rem;

  .cropKeys {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
    .crop {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      height: 1.5rem;
      .color {
        width: 0.5rem;
        height: 1rem;
        border-radius: 100rem;
      }
    }
  }
}